import React, { Component } from 'react';
import PropTypes from 'prop-types';
import { Form, Input, Button, Select, DatePicker, message } from 'antd';
import moment from 'moment';
// import { push } from 'react-router-redux';

import { query } from './action';
import styles from './style.css';

const { Option } = Select;
const { MonthPicker } = DatePicker;

class Filters extends Component {
  filterOption = (input, option) =>
    option.props.children.toLowerCase().indexOf(input.toLowerCase()) >= 0;

  handleSubmit = evt => {
    evt.preventDefault();

    const { dispatch, sheetItems } = this.props;
    // todo
  };

  render() {
    const {
      dispatch,
      sheetItems
    } = this.props;

    return (
      <div style={{ marginBottom: '20px' }}>
        <Form onSubmit={this.handleSubmit}>
        </Form>
      </div>
    );
  }
}

Filters.propTypes = {
  dispatch: PropTypes.func.isRequired,
  sheetItems: PropTypes.shape({}).isRequired
};

export default Filters;
