.rowSpace {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #333;
}

.rowSpaceList {
  min-width: 200px;
  max-width: 450px;
  margin: 5px 0 5px 15px;
}

.filterName {
  min-width: 70px;
  max-width: 150px;
  display: inline-block;
  text-align: right;
  padding-right: 10px;
  vertical-align: middle;
}

form .colSpace,
.colSpace {
  width: 150px;
  margin-right: 10px;
  display: inline-block;
}
